<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ba6d17dfa2.js" crossorigin="anonymous"></script>
  <title>Educator</title>
</head>
<body class="bg-gray-200">
  <!-- Navbar -->
  <nav class="bg-blue-500 p-4 text-white flex items-center justify-between">
    <div class="flex items-center">
      <a href="/login"><span class="text-4xl font-semibold">LMS</span></a>
    </div>
    <div class="flex items-center space-x-8">
      <!-- Dashboard Link -->
      <a href="/login" class="hover:underline text-lg">Dashboard<i class="fa-solid fa-table-columns" style="margin-left: 4px;"></i></a>
      <a href="/profile" class="hover:underline text-lg">Profile<i class="fa-regular fa-user" style="margin-left: 4px;"></i></a>
      <a href="/signout" class="hover:underline text-lg">SignOut<i class="fa-solid fa-arrow-right-from-bracket" style="margin-left: 4px;"></i></a>
    </div>
  </nav>

  <div class="nav-breadcrumb" style="margin: 2rem;">
    <a href="/educator/editcourse" class="text-red-500 hover:underline" style="color: red; font-size: 1.5rem; font-weight: 600;"><i class="fas fa-edit mr-1"></i>Edit Courses</a>
    <i class="fas fa-chevron-right"></i>
    <a href="/educator/addchapter/<%=  course.id %>" class="text-blue-500 hover:underline"  style="color: blue; font-size: 1.5rem; font-weight: 600;">Edit Course: <%= course.courseName %></a>
    <i class="fas fa-chevron-right"></i>
    <a href="/educator/editchapter/<%=  chapter.id %>" class="text-blue-500 hover:underline"  style="color: green; font-size: 1.5rem; font-weight: 600;"><i class="fas fa-edit mr-1"></i>Edit Chapter: <%= chapter.chapterName %></a>
  </div>

  <div class="container mx-auto flex flex-wrap justify-between"> <!-- Updated flex-wrap and justify-between -->
    <!-- Edit Chapter Form -->
    <section class="bg-white p-8 rounded-lg shadow-md mb-8 w-full md:w-1/2">
      <h1 class="text-4xl font-semibold mb-6">Edit Chapter</h1>
      <form action="/educator/editchapter/<%= chapter.id %>" method="POST" enctype="application/x-www-form-urlencoded">
        <input name="_csrf" value="<%= csrfToken %>" type="hidden"/>
        <input type="hidden" name="_method" value="PUT" />
        <div class="flex mb-4">
          <div class="w-1/4 pr-4">
            <label for="chapterNumber" class="block mb-2" style="font-weight: 600;">Chapter Number:</label>
            <input type="number" id="chapterNumber" name="chapternumber" value="<%= chapter.chapterNumber %>" class="w-full border border-gray-500 rounded-md p-2" required>
          </div>
          <div class="w-3/4">
            <label for="chapterName" class="block mb-2" style="font-weight: 600;">Chapter Name:</label>
            <input type="text" id="chapterName" name="chaptername" value="<%= chapter.chapterName %>" class="w-full border border-gray-500 rounded-md p-2" required>
          </div>
        </div>
        <label for="chapterDescription" class="block mb-2" style="font-weight: 600;">Chapter Description:</label>
        <textarea id="chapterDescription" name="chapterdescription" class="w-full border border-gray-500 rounded-md p-2 mb-4 h-24" required><%= chapter.description %></textarea>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Save Changes</button>
      </form>
    </section>

    <!-- Added Pages Section -->
    <section class="bg-blue-200 p-6 rounded-lg shadow-md w-full md:w-1/2">
      <h2 class="text-2xl mb-4">Pages</h2>
      <!-- Add Page Form -->
      <form action="/educator/addpage/<%= chapter.id %>" method="post">
        <div class="flex items-center mb-4">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <label for="pageNumber" class="block w-1/4 pr-2 border-gray-300" style="font-weight: 600;">Page Number:</label>
          <input type="number" id="pageNumber" name="pagenumber" class="w-1/4 border border-gray-500 rounded-md p-2" required>
          <label for="pageName" class="block w-1/4 pr-4" style="font-weight: 600;">Page Name:</label>
          <input type="text" id="pageName" name="pagename" class="w-3/4 border border-gray-500 rounded-md p-2" required>
          <button type="submit" class="bg-blue-500 text-white px-8 rounded-md ml-4">Add Page</button>
        </div>
      </form>

      <!-- Display Added Pages -->
      <h3 class="text-lg mb-2">Added Pages:</h3>
      <ul>
        <% pages.forEach(page => { %>
          <li class="bg-blue-500 text-white p-4 rounded-md mb-2 flex justify-between items-center">
            <span><%= page.pageNumber %>) Page Name: <%= page.pageName %></span>
            <div>
              <a class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-md mr-2" href="/educator/addcontent/<%= page.id %>">Edit Page</a>
              <a class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-md" href="/educator/deletepage/<%= page.id %>">Delete Page</a>
            </div>
          </li>
        <% }) %>
      </ul>
    </section>
  </div>

  <!-- Footer -->
  <!-- Include your Footer Code here -->

</body>
</html>
