<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ba6d17dfa2.js" crossorigin="anonymous"></script>
  <title>Educator Dashboard</title>
</head>
<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-500 p-4 text-white flex items-center justify-between">
    <div class="flex items-center">
      <a href="/login"><span class="text-4xl font-semibold">LMS</span></a>
    </div>

    <div class="flex items-center space-x-8">
      <!-- Dashboard Link -->
      <a href="/login" class="hover:underline text-lg">Dashboard<i class="fa-solid fa-table-columns" style="margin-left: 4px;"></i></a>

      <a href="/profile" class="hover:underline text-lg">Profile<i class="fa-regular fa-user" style="margin-left: 4px;"></i></a>

      <a href="/signout" class="hover:underline text-lg">SignOut<i class="fa-solid fa-arrow-right-from-bracket" style="margin-left: 4px;"></i></a>

    </div>
  </nav>
  <div class="flex flex-col sm:flex-row h-70vh mx-auto bg-white">
    <div class="flex-shrink-0 p-4 text-blue-500 w-full sm:w-1/2" style="margin: auto;">
      <div class="flex items-center mb-8 flex-col gap-4">
        <h2 class="text-6xl font-semibold text-center">Welcome To LMS-Educator</h2>
        <p class="text-4xl font-semibold text-yellow-500 text-center"><%= name  %></p>
      </div>
      <div class="flex flex-grow justify-center gap-4" style="margin: auto;">
        <a href="/educator/createcourse" class="bg-green-500 text-white px-4 py-2 rounded-md flex items-center">
          <i class="fas fa-graduation-cap text-white mr-2"></i>
          Create Course
        </a>
        <a href="/educator/editcourse"  class="bg-blue-500 text-white px-4 py-2 rounded-md flex items-center">
          <i class="fas fa-book-open text-white mr-2"></i>
          Edit courses
        </a>
        <button class="bg-red-500 text-white px-8 py-2 rounded-md flex items-center">
          <i class="fas fa-chart-bar text-white mr-2"></i>
          Reports
        </button>
      </div>
    </div>
  
    <div class="flex-grow">
      <img src="/images/home-main.jpg" alt="Educator Image" class="object-cover h-full w-full">
    </div>
  </div>
  

<div class="flex-grow overflow-hidden mx-10">
  <!-- Enrolled Courses Section -->
  <div class="mb-8 your-courses">
      <h2 class="text-2xl font-semibold mb-4 bg-green-500 text-white py-2 px-4 text-center">Your Courses</h2>
      <div class="flex flex-wrap mx-6">
          <% if(yourCourses.length == 0){ %>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 p-4" style="margin: auto;">
              <div class="bg-red-500 rounded-md shadow-md p-4">
                  <h3 class="text-lg font-semibold mb-2">No Courses Created</h3>
              </div>
          </div>
          <% } %>
          <% yourCourses.forEach((course) => { %>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 p-4">
              <div class="bg-white rounded-md shadow-md p-4">
                  <h3 class="text-lg font-semibold mb-2"><%= course.courseName %></h3>
                  <p class="text-gray-500 mb-2">
                      <i class="fas fa-user-graduate text-blue-500 mr-2"></i> Instructor: <%= name  %>
                  </p>
                  <p class="text-gray-500 mb-2">
                      <i class="fas fa-info-circle text-blue-500 mr-2"></i> Enrollments: <%= course.enrollments %>
                  </p>
                  <p class="text-gray-500 mb-2">
                      <i class="fas fa-info-circle text-blue-500 mr-2"></i> Description: <%= course.description %>
                  </p>
                  <button class="bg-blue-500 text-white px-4 py-2 rounded-md w-full">
                      <i class="fas fa-arrow-right mr-2"></i> View Course
                  </button>
              </div>
          </div>
          <% }) %>
      </div>
  </div>

  <!-- Available Courses Section -->
  <div>
      <h2 class="text-2xl font-semibold mb-4 bg-gray-500 text-white py-2 px-4 text-center">Available Courses</h2>
      <div class="flex flex-wrap mx-6">
          <% if(otherCourses.length == 0){ %>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 p-4" style="margin: auto;">
              <div class="bg-red-500 rounded-md shadow-md p-4 justify-center">
                  <h3 class="text-lg font-semibold mb-2">No Courses Available</h3>
              </div>
          </div>
          <% } %>
          <% otherCourses.forEach((course) => { %>
          <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/3 p-4">
              <div class="bg-white rounded-md shadow-md p-4">
                  <h3 class="text-lg font-semibold mb-2"><%= course.courseName %></h3>
                  <p class="text-gray-500 mb-2">
                      <i class="fas fa-user-graduate text-blue-500 mr-2"></i> Instructor: <%= course.instructor %>
                  </p>
                  <p class="text-gray-500 mb-2">
                      <i class="fas fa-info-circle text-blue-500 mr-2"></i> Enrollments: <%= course.enrollments %>
                  </p>
                  <p class="text-gray-500 mb-2">
                      <i class="fas fa-info-circle text-blue-500 mr-2"></i> Description: <%= course.description %>
                  </p>
                  <button class="bg-green-500 text-white px-4 py-2 rounded-md w-full">
                      <i class="fas fa-arrow-right mr-2"></i> Enroll Now
                  </button>
              </div>
          </div>
          <% }) %>
      </div>
  </div>
</div>

<%- include('partials/footer') %>
</body>
</html>
