<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ba6d17dfa2.js" crossorigin="anonymous"></script>
  <title>Profile</title>
</head>
<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-500 p-4 text-white flex items-center justify-between">
    <div class="flex items-center">
      <a href="/login"><span class="text-4xl font-semibold">LMS</span></a>
    </div>
    <div class="flex items-center space-x-8">
      <!-- Dashboard Link -->
      <a href="/login" class="hover:underline text-lg">Dashboard<i class="fa-solid fa-table-columns ml-2"></i></a>

      <a href="/profile" class="hover:underline text-lg">Profile<i class="fa-regular fa-user ml-2"></i></a>

      <a href="/signout" class="hover:underline text-lg">SignOut<i class="fa-solid fa-arrow-right-from-bracket ml-2"></i></a>
    </div>
  </nav>

  <!-- Profile Content -->
  <div class="container mx-auto mt-8 p-6 bg-white rounded shadow-lg">
    <h2 class="text-2xl font-semibold mb-4">User Profile</h2>
    <div class="mb-4">
      <p class="text-lg"><strong>Firsst Name:</strong> <span id="username"><%= user.firstName %></span></p>
      <p class="text-lg"><strong>Last Name:</strong> <span id="lastName"><%= user.lastName %></span></p>
      <p class="text-lg"><strong>Email:</strong> <span id="email"><%= user.email %></span></p>
    </div>
  
    <!-- Change Password Form -->
    <form id="passwordForm" class="max-w-sm" action="/profile/changepassword" method="POST" enctype="application/x-www-form-urlencoded">
        <input name="_csrf" value="<%= csrfToken %>" type="hidden"/>
        <input type="hidden" name="_method" value="PUT" />
        <label for="oldaassword" class="block text-sm font-medium text-gray-600">Old Password:</label>
      <input type="password" id="oldpassword" name="oldpassword" class="mt-1 p-2 border rounded-md w-full" required>
      <label for="newaassword" class="block text-sm font-medium text-gray-600">New Password:</label>
      <input type="password" id="newpassword" name="newpassword" class="mt-1 p-2 border rounded-md w-full" required>
      <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Change Password</button>
      <%- include('partials/flashsuccess') %>
      <%- include('partials/flashmessage') %>
    </form>
  </div>

  <%- include('partials/footer') %>

</body>
</html>
